[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/torch_stable.html"
verify_ssl = false
name = "pytorch"

[packages]
torch = {version="1.8.1-cpu", index="pytorch"}
django = "*"
django-heroku = "*"
asgiref = "*"
certifi = "*"
charset-normalizer = "*"
ci-info = "*"
click = "*"
configobj = "*"
configparser = "*"
dj-database-url = "*"
etelemetry = "*"
filelock = "*"
fitz = "*"
future = "*"
gunicorn = "*"
httplib2 = "*"
idna = "*"
importlib-metadata = "*"
isodate = "*"
lxml = "*"
networkx = "*"
nibabel = "*"
nipype = "*"
nltk = "*"
numpy = "*"
pandas = "*"
prov = "*"
psycopg2 = "*"
pydot = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
pyxnat = "*"
rdflib = "*"
requests = "*"
scipy = "*"
simplejson = "*"
singledispatch = "*"
six = "*"
sqlparse = "*"
traits = "*"
typing-extensions = "*"
urllib3 = "*"
whitenoise = "*"
zipp = "*"
PyPDF2 = "*"

[dev-packages]

[requires]
python_version = "3.7"
