-f https://download.pytorch.org/whl/torch_stable.html
torch==1.10.1+cpu
Django
django-heroku
asgiref
certifi
charset-normalizer
ci-info
click
configobj
configparser
dj-database-url
etelemetry
filelock
fitz
# pyMupdf
Tkinter
tk-dev
future
gunicorn
httplib2
idna
importlib-metadata
isodate
lxml
networkx
nibabel
nipype
nltk
numpy
packaging
pandas
prov
pydot
pyparsing
psycopg2-binary
PyPDF2
python-dateutil
pytz
pyxnat
rdflib
requests
scipy
simplejson
singledispatch
six
sqlparse
traits
typing-extensions
urllib3
whitenoise
zipp
