asgiref==3.4.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
ci-info==0.2.0
click==8.0.4
configobj==5.0.6
configparser==5.2.0
dataclasses==0.8
decorator==4.4.2
dj-database-url==0.5.0
Django==3.2.13
django-heroku==0.3.1
etelemetry==0.2.2
filelock==3.4.1
fitz==0.0.1.dev2
future==0.18.2
gunicorn==20.1.0
httplib2==0.20.4
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
isodate==0.6.1
joblib==1.1.0
lxml==4.8.0
networkx==2.5.1
nibabel==3.2.2
nipype==1.7.1
nltk==3.6.7
numpy==1.19.5
packaging==21.3
pandas==1.1.5
pathlib==1.0.1
prov==2.0.0
pydot==1.4.2
PyMuPDF==1.16.7
pyparsing==3.0.8
PyPDF2==1.27.9
python-dateutil==2.8.2
pytz==2022.1
pyxnat==1.4
rdflib==5.0.0
regex==2022.4.24
requests==2.27.1
scipy==1.5.4
simplejson==3.17.6
singledispatch==3.7.0
six==1.16.0
sqlparse==0.4.2
torch==1.10.2
tqdm==4.64.0
traits==6.3.2
typing_extensions==4.1.1
urllib3==1.26.9
whitenoise==5.3.0
zipp==3.6.0
